body {
    padding: 0;
    overflow: hidden;
    font-family: Trebuchet MS;
}

h3 {
    display: inline-block;
}
Inherited from body
style.css:1


#time-window {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.map {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
    top: 0;
}

.topbar {
  position: absolute;
  top:0;
  height: 50px;
  width: 100%;
  padding: 3px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  padding: 5px;
}
.sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

#leftbar {
  left: 0px;
  width: 340px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-top: 10px;
}

#rightbar {
  right: 0px;
  width: 280px;
}

.subdiv {
  box-sizing: border-box;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}

.sort {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;
    background-color: #fff;
    padding: 20px;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #eee;
    margin: -14px -20px 20px;
    padding: 0 5px;
    z-index: 1000;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

#avgRange {
  margin-bottom: 10px;
}
#roundFilter {
  margin-top: 10px;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-left{
  position: relative;
  top:60px;
  /*left: 360px;*/
  left:20px;
}

#destination {
  padding: 10px 15px;
  height:40px;
}
#explore {
  padding: 10px 15px;
  height:40px;
}

#clear {
  padding: 10px 15px;
  height:40px;
}
#refresh {
  width: 33px;
  height: 33px;
  z-index: 5000;
  border-radius: 4px;
  position:relative;
  left:30px;
  top:250px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.num_rides {
  width: 100px;
}

.minmax {
  width: 100px;
  margin-top:10px;
}

.button {
  margin-top:10px;
}

.btn-group {
  margin-top:10px;
}

.dropdown {
  margin-top:10px;
}
